body {
	background-color: #21252B;
	color: #e0e0e0;
	font-family: sans-serif;
	user-select: none;
}

.btnframe {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	width: 80%;
	height: 50%;
	background-color: #4CB0F9;
}

#btnprog {
	height: 100%;
	width: 0px;
	background-color: rgb(67, 168, 239);
	transition: width 10s linear;
}

#btn {
	background-color: #00000000;
	width: 100%;
	height: 100%;
	color: white;
	border: none;
	font-size: 10vh;
	transition: color 0.3s;
	cursor: crosshair;
}

#btn:active {
	color: #0880D7;
	transition: color 0s;
}

@media only screen and (max-width: 720px) {
	.btnframe {
		width: 100%
	}
}
